@charset "utf-8";
h2{
	padding-left: 180px;
	font-weight: normal;
	padding-top: 130px;
}
a,h2{
	font-size: 14px;
	color: rgb(182, 181, 180);
}
h3{
	text-align: center;
	font-size: 16px;
	margin-bottom: 50px;
}
ul{
	padding-left: 180px;
}
li{
	float: left;
}
img{
	padding-right: 80px;
	float: left;
	padding-bottom: 80px;
}
p{
	width: 880px;
	font-size: 14px;
	line-height: 30px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}