@charset "utf-8";
.content{
	background: url('../images/mb_back_companyIntro.png') no-repeat;
}
h2{
	padding-left: 180px;
	font-weight: normal;
	padding-top: 130px;
}
a,h2{
	font-size: 14px;
	color: rgb(182, 181, 180);
}
dl{
	padding-left: 180px;
	width: 300px;
	float: left;
}