@charset "utf-8";
.content{
	background: url('../images/mb_back_companyIntro.png') no-repeat;
}
h2{
	padding-left: 180px;
	font-weight: normal;
	padding-top: 130px;
}
h2 a,h2{
	font-size: 14px;
	color: rgb(182, 181, 180);
}
.a{
	padding-left: 180px;
}
.a li{
	width: 900px;
	border-bottom: 1px #ccc dotted;
}
.a a{
	color: #000;
	font-size: 14px;
	line-height: 36px;
}
.a span{
	float: right;
}

