@charset "utf-8";
.content{
	background: url('../images/mb_back_companyIntro.png') no-repeat;
}
h2{
	padding-left: 180px;
	font-weight: normal;
	padding-top: 130px;
}
a,h2{
	font-size: 14px;
	color: rgb(182, 181, 180);
}
h3{
	padding: 0;
	margin: 0;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
p{
	padding-left: 180px;
	width: 900px;
	text-indent: 2em;
	line-height: 40px;
	margin-bottom: 100px;
}
